/* Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    cursor: default;

}

body {

    color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    padding-top: 100px;
}




button {
    cursor: pointer;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: solid 1px #ccc;
    z-index: 5;
    background-color: #6eb3c9;
}


.headerContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburguer {
    display: none;
    border: none;
    background-color: transparent;

    img {
        width: 60px;
        height: 60px;

        &:hover {
            cursor: pointer;
        }
    }
}

.MenuClose {
    display: none;
}

.menu {
    display: flex;
    align-items: center;
    gap: 24px;

    a {


        text-decoration: none;
        font-weight: 700;
        color: rgb(255, 255, 255);




        &:hover {
            color: black;
            transition: 0, 3s;
            text-decoration: underline;
            cursor: pointer
        }
    }
}

.menulink {
    color: black;
    font-weight: 600;
}

.brand {

    a {
        font-weight: 600;
        font-size: 20px;
        color: black;
    }

    img {
        height: 75px;
        width: 75px;

        &:hover {
            cursor: pointer;
        }

    }
}

@media(max-width:650px) {
    .hamburguer {
        display: flex;
    }

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        background: #6eb3c9;
        height: 100vh;
        flex-direction: column;
        width: 50%;
        padding: 24px;
        transition: transform 0.3s ease;
        transform: translateX(-100%);

    }

    .brand {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 28px;
    }

    .MenuClose {
        display: flex;
        align-self: flex-end;
        border: 0;
        background: transparent;

        img {
            width: 60px;
            height: 60px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .isOpen {
        transform: translateX(0);
    }
}



.titulo {
    padding-top: 20px;
  text-align: center;
 font-family: "lato";
 font-weight: 900;
  margin-top: 22px;

  h1{
font-size: 2.5rem;
   color: #6eb3c9; 
  }
}



.telinhas {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  gap: 20px;
  font-family: "lato";
  @media (max-width:970px) {
    grid-template-columns: 1fr;
    width: 100%;
    justify-content: center;
    align-items: center;
         
  }

}

.tela {
     width: auto;
  display: flex;
  justify-content: center; /* centraliza horizontalmente */
  align-items: center;     /* centraliza verticalmente */
  text-align: center;
  background: #6eb3c9;
  border-radius: 12px;
  padding: 15px;
  gap: 20px;
  @media (max-width:500px){
    display: flex;
    flex-direction: column;
   }
   img{
    height: 233px;
    width: 256px;
   }
}

  img{
font-size: 2.5rem;
  color: white;
  }





.info  {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    h2{
font-size: 1.2rem;
  margin-bottom: 5px;
  font-weight: bold;
    }
  p {
  font-size: 1rem;
  font-weight: bold;
}
}

 


footer {
  background:  #6eb3c9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  
  color: white;

}

.fim {
    background: #6eb3c9;
    height: 140px;
    font-family: "Lato";
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;


    @media(max-width:566px) {
        margin-top: 32px;
        flex-direction: column;
        height: auto;
        justify-content: center;
        gap: 34px;
    }


    img {

        width: 113px;
        height: 95px
    }

    ;

    H3 {
        width: 30%;

        @media(max-width:501px) {
            width: 100%;
        }


    }
}


.sesisenai {

    img {
        width: 120px;
        height: 95px;
    }
}


footer {
    background-color: #021427;
    font-family: "Lato";
    font-size: 13px;
    text-align: center;
}
#rodape{
    cursor: pointer;
}